body {
    margin: 0;
}

div.registration_wrapper {
    background-color: rgba(203, 203, 203, 1);
    /*height: 615px;*/
    /*width: 700px;*/
    border-radius: 15px;
    padding: 150px;

}
form {

}

input {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}

button {
    border-radius: 5px;
}

.inner-form {

}

.poem__form-label {
     font-size: 16px;
 }

div.reg_content {
}

button {

}

input {

}

div.alert {

}

.general-form label {
    display: block;
}

.general-form label span {
    display: inline-block;
    width: 200px;
}

/* MAIN MENU */

.main-menu li {
    display: inline-block;
    width: 120px;
    border: 1px solid #000000;
    border-radius: 3px;
    text-align: center;
    font-family: Calibri;
}

.main-menu li:hover {
    background-color: #deffcd;
}

.main-menu li:active {
    background-color: #acff93;
    border-top-color: #cccccc;
    border-left-color: #cccccc;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    color: #555555;
}

.header {
    background-color: #FFCC7F;
    padding: 10px;
}
